<ion-view view-title="" hide-nav-bar="true">

    <button class="btnListen" ns-click="doListen()">Listen</button>
	<div class="wholeHeight">
<!-- 	  	<div class="mapControlInvis bgWhiteSemiTransparent">
	        <div class="row">
	          <div class=" mapControlItem  blueMe" ng-click="openSearch()"></div>
	          <div class="mapControlItem ion-funnel blueMe" ng-click="changeFilter()"></div>
	          <div class="mapControlItem ion-navigate blueMe" ng-click="recenterMap()"></div>
	          <div class="mapControlItem ion-plus-round blueMe" ng-click="zoomIn()"></div>
	          <div class="mapControlItem ion-minus-round blueMe" ng-click="zoomOut()"></div>
	        </div>
	  	</div> -->
	  	<div id="resourcemap" data-tap-disabled="true"></div>
  	</div>
  	
  	<div class="infoWindowTemplate">
  		<div class="infoWindowTitle">==TITLE==</div>
  		<div class="infoWindowDesc">==DESCRIPTION==</div>
  		<div class="infoWindowPhone">==PHONE==</div>
  		<div class="infoWindowAddress">==ADDRESS==</div>
  		<div class="infoWindowDirections">==DIRECTIONS==</div>
  		<div class="infoWindowCall">==CALL==</div>
  	</div>
</ion-view>
