<ion-view>
  <ion-content>
    <ion-list>
	    <ion-item>
	    	<div class="col">Voiceover Volume</div>
	    	<div class="col item-range"><input type="range" name="volume" style="width: 90%;" /></div>
	    </ion-item>
	    <ion-item>
			<label class="item item-input item-select" style="border-color: transparent;">
				<div class="input-label" >
					Monitoring Radius
				</div>
				<select>
					<option>3 mi</option>
					<option selected>5 mi</option>
					<option>10 mi</option>
				</select>
			</label>
	    </ion-item>
	    <ion-item>
			<label class="item item-input item-select" style="border-color: transparent;">
				<div class="input-label" >
					Perferred Map
				</div>
				<select>
					<option>Apple Maps</option>
					<option>Google Maps</option>
					<option selected>Bing Maps</option>
				</select>
			</label>
	    </ion-item>
    </ion-list>
  </ion-content>
</ion-view>



	    <!-- 	<br>  <br>	
	    	<div class="item range">
			  <i class="icon ion-volume-low"></i>
			  <input type="range" name="volume">
			  <i class="icon ion-volume-high"></ -->
			<!-- </div> -->