.blueMe {
	color: #5B6DAE;
}

.btnListen {
	position: fixed;
	z-index: 500;
	bottom: 75px;
	right: 25px;
	margin: 0;
	padding: 0;
	border: none;
	font: inherit;
	color: inherit;
	background: #5B6DAE;
	height: 5em;
	width: 5em;
	border-radius: 50%;
	color: white;
	font-weight: 600;
	font-size: 1.2rem;
}

#resourcemap {
	top: 0;
	width: 100%;
	position: absolute;
	bottom: 3.5em;
}


.wholeHeight {
	height: 100%;
}


.mapControlInvis {
	display: none;
}

.mapControl {
	display: block;
	/*width: 141px;*/
	margin-right: 1em;
	margin-bottom: 1em;
}

.mapControlItem {
	margin: auto;
	width: 1.5em;
	text-align: center;
	padding: .25em;
	display: inline-block;
	font-size: 2em !important;
}


.bgWhiteSemiTransparent {
	background-color: rgba(255,255,255,0.75);
}
